.navbar-brand { 
  width: 70px;
  height: 50px;
  background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
  background-size: 50px;  
}

.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li { 
  padding: 20px 15px 15px;
  border-left: 1px solid #eee; 
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}





#bg1 {width: 1400px; color: gray; margin-left: 0; margin-right: 0; margin: 0 auto;}
#map{width:600px; height: 500px;}
article { float:left; height:auto;}
article:nth-child(1) { width:20%; background:#ff0000;}
article:nth-child(2) { width:80%; background:#ffffff}
article:nth-child(3) { width:50%; background:#ff0080;}
article:nth-child(4) { width:50%; background:#ccc;}
article:nth-child(5) { width:50%; background:#0000ff;}
article:nth-child(6) { width:50%; background:#888;}
article:nth-child(7) { width:100%; background:#888;}
















